<h1>Carrito</h1>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <strong>{{product.title}}</strong> - Cantidad: {{quantity}}
        <form action="/api/carts/{{../_id}}/products/{{product._id}}?_method=DELETE" method="POST">
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}

<form action="/api/carts/{{_id}}?_method=DELETE" method="POST">
  <button type="submit">Vaciar carrito</button>
</form>
